Source: evtouch-calibrator
Section: x11
Priority: optional
Maintainer: Gennady Telegin <gt@neokiosk.ru>
Build-Depends: debhelper (>= 5), pkg-config, xserver-xorg-dev (>= 2:1.4), x11proto-randr-dev, libxrender-dev, libx11-dev, quilt, xutils-dev (>= 1:7.4)
Standards-Version: 3.7.3
Vcs-Git: git://gitorious.org/evtouch-4point/evtouch-4point.git 
Vcs-Browser: http://gitorious.org/evtouch-4point/evtouch-4point/trees/master 
Homepage: http://gitorious.org/evtouch-4point

Package: evtouch-calibrator
Architecture: any
Depends: ${shlibs:Depends}, ${xserver:Depends}
Recommends: xserver-xorg-input-evtouch
Provides: ${xinpdriver:Provides}
Description: 4-point calibrator for EVTouch device. 
 .

